<!doctype html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <link href='{{font_url}}' rel='stylesheet' type='text/css'>
  <title>image template</title>
  <body style="width: {{width}}px; height: {{height}}px; background-image: url(&quot;{{image}}&quot;);
    background-size: cover; background-repeat: no-repeat;
    background-position: center; position: relative;">
    <div style="width: 100%; height: 100%; display: table; text-align: center;">
    <p style="font-family: '{{font}}', sans-serif; font-weight: normal; vertical-align: middle;
      color: white; font-size: 2em; -webkit-text-stroke: 2px #606060; -webkit-text-fill-color: white; display: table-cell; padding: 0% 16% 0% 16%;
      -webkit-font-smoothing: antialiased;">
        {{showerthought}}
      </p>
    </div>
  </body>
</head>
</html>
